<template>
    <main>
        <navbar />
        <img src="/pictures/apropos/arboriculteurs.jpg" alt="">
        <b-container fluid>
            <b-row class="no-gutter">
                <b-col cols="12">
                    <div class="paragraphe">
                        <h1>À propos</h1>
                        <p id='presentation'>La communauté Locavore est fondée sur la volonté d'identifier les producteurs et d'avoir une consommation responsable en achetant des articles fabriqués régionalement.
                            Notre projet est néé de l'idée générale et principale qu'il est bien de consommmer local quand il existe des solutions locales. 
                        </p>
                    </div>
                    <div class="paragraphe">
                        <h1>Les Fondateurs</h1>
                        <b-row class="d-flex ligne-bloc justify-content-center pt-5 pb-5">
                            <b-col cols="3">
                                <img src="/pictures/apropos/Antoine.png" alt="antoine">
                                <h3>Antoine CORBIN</h3>
                                <h5>Cofondateur</h5>
                            </b-col>
                            <b-col cols="3">
                                <img src="/pictures/apropos/Seb.png" alt="seb">
                                <h3>Sébastien KIRCHER</h3>
                                <h5>Cofondateur</h5>
                            </b-col>
                            <b-col cols="3">
                                <img src="/pictures/apropos/Quentin.png" alt="quentin">
                                <h3>Quentin LAFFITE</h3>
                                <h5>Cofondateur</h5>
                            </b-col>
                        </b-row>
                    </div>
                    <div class="paragraphe">
                        <h1>En bref</h1>
                        <b-row class="d-flex ligne-bloc justify-content-center pt-5 pb-5">
                            <b-col cols="3" class="text-center">
                                <h2>68%</h2>
                                <h6>consommateurs qui font confiance aux agriculteurs</h6>
                            </b-col>
                            <b-col cols="3" class="text-center">
                                <h2>Plus de 2000</h2>
                                <h6>Amap en France regroupant 250 000 adhérants</h6>
                            </b-col>
                            <b-col cols="3" class="text-center">
                                <h2>3/4</h2>
                                <h6>des français sont locavores !</h6>
                            </b-col>
                        </b-row>
                        <div class="h_line"></div>
                    </div>
                </b-col>
            </b-row>

                    
            <app-footer />
        </b-container>

       
    </main>
</template>

<style scoped src="./Apropos.css">

</style>

<script>
export default {
    
}
</script>