<template>
    <main>
        <navbar />

        <b-container>
            <b-row>
                <b-col cols="12" class="my-3">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
                        <h1>{{ grower.name }}</h1>
                        <div class="mb-2 mb-md-0">
                            <b-button :to="{ name: 'producteur', params: { id: grower.id } }">Retour</b-button>
                        </div>
                    </div>

                    <b-form inline
                        @submit="onSubmitProduct"
                        class="mb-2">
                        <b-form-group
                            label="Produit:"
                            label-for="input-3"
                            class="ml-2">
                            <b-form-select
                                id="input-3"
                                class="ml-2 mb-2 mr-sm-2 mb-sm-0"
                                v-model="product"
                                :options="products"
                                required>
                            </b-form-select>
                        </b-form-group>

                        <b-button
                            type="submit"
                            variant="primary"
                            class="ml-2 ml-sm-0 mt-2 mt-sm-0">
                            Ajouter
                        </b-button>
                    </b-form>

                    <b-table striped hover :items="grower_products" :fields="fields">
                        <template #cell(actions)="row">
                            <b-button size="sm" variant="danger" @click="deleteProduct(row.item.id)">
                                Supprimer
                            </b-button>
                        </template>
                    </b-table>

                    <b-form @submit="onSubmit">
                        <b-form-group
                            :state="descriptionState"
                            label="Picture"
                            label-for="picture-input"
                            invalid-feedback="Picture is required">
                            <b-form-file accept="image/*" @change="changePicture" class="mb-2"></b-form-file>
                            <div class="img-container">
                                <img ref="image" alt="Choose file for change the picture" crossorigin>
                            </div>
                        </b-form-group>
                        <b-form-group
                            :state="descriptionState"
                            label="Description"
                            label-for="desription-input"
                            invalid-feedback="Description is required">
                            <b-form-textarea
                                id="description-input"
                                v-model="grower.description"
                                :state="descriptionState"
                                required
                                rows="3"
                                max-rows="6">
                            </b-form-textarea>
                        </b-form-group>

                        <b-button type="submit" variant="primary">Enregistrer</b-button>
                    </b-form>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>

<script>
import Cropper from "cropperjs";

export default {
    data() {
        return {
            grower: {
                id: 0,
                picture: null,
                name: null,
                city: null,
                like: null,
                rate: null,
                reviews: null,
            },
            grower_products: [],
            fields: [
                {
                    key: "name",
                    label: "Product"
                },
                {
                    key: "actions",
                    label: "Actions"
                }
            ],
            product: null,
            products: [],
            descriptionState: null,
            cropper: null,
            image: null
        }
    },
    methods: {
        // Ref : https://gist.github.com/ibreathebsb/a104a9297d5df4c8ae944a4ed149bcf1
        dataURLtoFile(dataurl, filename) {
            const arr = dataurl.split(',')
            const mime = arr[0].match(/:(.*?);/)[1]
            const bstr = atob(arr[1])
            let n = bstr.length
            const u8arr = new Uint8Array(n)
            while (n) {
                u8arr[n - 1] = bstr.charCodeAt(n - 1)
                n -= 1 // to make eslint happy
            }
            return new File([u8arr], filename, { type: mime })
        },
        loadCropper() {
            if(this.cropper)
                this.cropper.destroy()

            this.image = this.$refs.image
            this.cropper = new Cropper(this.image, {
                zoomable: false,
                scalable: false,
                aspectRatio: 16 / 9,
                minCropBoxWidth: 500
            })
        },
        getCropDataURL() {
            if(!this.cropper)
                return null

            const canvas = this.cropper.getCroppedCanvas()
            return canvas.toDataURL("image/png")
        },
        changePicture(event) {
            const file = event.target.files[0]
            const reader = new FileReader()

            reader.addEventListener("load", () => {
                this.$refs.image.src = reader.result

                this.loadCropper()
            }, false)

            reader.readAsDataURL(file)
        },
        onSubmit(event) {
            event.preventDefault()

            event.submitter.disabled = true

            const formData = new FormData()
            formData.append("id", this.grower.id)
            formData.append("description", this.grower.description)

            const cropDataURL = this.getCropDataURL()
            if(cropDataURL)
                formData.append("picture", this.dataURLtoFile(cropDataURL, "picture"))

            axios
                .post("/api/enterprises/" + this.grower.id + "?_method=PUT", formData)
                .then(response => event.submitter.disabled = false)
                .catch(error => console.log(error))
        },
        onSubmitProduct(event) {
            event.preventDefault()

            axios
                .post("/api/enterprises/" + this.grower.id + "/products", {
                    id: this.product
                })
                .then(response => {
                    var product = this.products.find(p => p.id == this.product)

                    this.grower_products.push(product)

                    this.product = null
                })
                .catch(error => console.log(error))
        },
        deleteProduct(id) {
            axios
                .delete("/api/enterprises/" + this.grower.id + "/products/" + id, {
                    product_id: id
                })
                .then(response => {
                    this.grower_products = this.grower_products.filter(p => p.id != id)
                })
                .catch(error => console.log(error))
        }
    },
    mounted() {
        axios
            .get("/api/enterprises/" + this.$route.params.id)
            .then(response => {
                this.grower = response.data

                this.products = []
            })
            .catch(error => console.log(error))

        axios
            .get("/api/enterprises/" + this.$route.params.id + "/products")
            .then(response => {
                this.grower_products = response.data
            })
            .catch(error => console.log(error))

        axios
            .get("/api/products")
            .then(response => {
                this.products = response.data.map(p => {
                    p.text = p.name
                    p.value = p.id

                    return p
                })
            })
            .catch(error => console.log(error))
            .finally(response => {
                this.products.push({
                    text: "Sélectionner un produit",
                    value: null
                })
            })
    }
}
</script>