<template>
    <main>
        <navbar />
        <b-img src="/pictures/locavorCquoi/locavorCquoi.jpg" alt="" fluid-grow></b-img>
        <b-container fluid>
            <b-row>
                <b-col cols="12">
                    <div class="paragraphe">
                        <h1>Definition !</h1>
                        <p id='presentation'>Le mot « Locavore » vient de « Loca » (local) et « vore » (manger, comme « carnivore » = manger de la viande ; ou « frugivore » = manger des fruits).
                        Autrement dit : Manger local. En quelques mots, un « Locavore » est une personne qui ne consomme que des produits locaux qui ont été produits à une faible distance de son domicile.</p>
                        <div class="h_line"></div>
                    </div>
                    <div class="paragraphe">
                        <h1>Les objectifs du Locavore</h1>
                        <div class="d-flex ligne-bloc">
                            <div class="bloc-gauche mr-auto col-4">
                                <b-row>
                                    <b-col cols="3">
                                        <img src="/pictures/locavorCquoi/locaCquoi_1.png" alt="gaspi">
                                    </b-col>
                                    <b-col class="text-justify align-self-center" cols="9">
                                        <p>LOCAVOR diminue le gaspi dans les circuits de distribution classique car les fournisseurs ne livrent que ce qui est commandé.</p>  
                                    </b-col>
                                </b-row>
                            </div>
                            <div class="bloc-droite col-4">
                                <b-row>
                                    <b-col cols="3">
                                        <img src="/pictures/locavorCquoi/locaCquoi_3.png" alt="réduction">
                                    </b-col>
                                    <b-col class="text-justify align-self-center" cols="9" >
                                        <p>La réduction des intermédiaires garantit une meilleure rémunération des producteurs.</p>
                                    </b-col>
                                </b-row>
                            </div>
                        </div>
                        <div class="d-flex ligne-bloc">
                            <div class="bloc-gauche ml-4 mr-auto col-4">
                                <b-row>
                                    <b-col class="text-justify align-self-center" cols="9">
                                        <p>Un fruit de saison produit localement peur consommer 10 à 20 fois moins d'énergie qu'un fruit importé hors saison.</p>
                                    </b-col>
                                    <b-col cols="3">
                                        <img src="/pictures/locavorCquoi/locaCquoi_2.png" alt="ecologique">
                                    </b-col>
                                </b-row>
                            </div>
                            <div class="bloc-droite mr-4  col-4">
                                <b-row>
                                    <b-col class="text-justify align-self-center" cols="9">
                                        <p>Grace à des marges faibles, le coût des produits locaux de qualité est abordable.</p>
                                    </b-col>
                                    <b-col cols="3">
                                        <img src="/pictures/locavorCquoi/locaCquoi_4.png" alt="label">
                                    </b-col>
                                </b-row>
                            </div>
                        </div>
                        <div class="d-flex ligne-bloc justify-content-center">
                            <div class="col-4">
                                <b-row>
                                    <b-col cols="3">
                                        <img src="/pictures/locavorCquoi/locaCquoi_5.png" alt="temps">
                                    </b-col>
                                    <b-col class="text-justify align-self-center" cols="9">
                                        <p>La qualité des aliments est meilleure lorsqu'ils sont consommés rapidement</p>
                                    </b-col>
                                </b-row>
                            </div>
                        </div>
                        <div class="h_line"></div>
                    </div>
                    <div class="paragraphe">
                        <h1>Trois types d'acteurs</h1>
                        <div class="d-flex ligne-bloc">
                            <div class="col-4">
                                <img class="i-acteur" src="/pictures/locavorCquoi/user.svg" alt="user">
                                <h3 class="t-acteur">Les membres, les locavores</h3>
                                <p class="pt-4 p-acteur">Particuliers souhaitant identifier les producteurs et avoir une consommaion responsable en achetant des articles fabriqués régionalement. Ils forment une communauté locavore.</p>

                            </div>
                            <div class="col-4">
                                <img class="i-acteur" src="/pictures/locavorCquoi/camion.svg" alt="camion">
                                <h3 class="t-acteur">Des producteurs et artisans locaux</h3>
                                <p class="pt-4 p-acteur">Entreprises principalement agricoles, les producteurs ou artisans s'engagent à vendre et livrer au locavor leurs produits à partir d'un certain montant d'achat.</p>

                            </div>
                            <div class="col-4">
                                <img class="i-acteur" src="/pictures/locavorCquoi/position.svg" alt="position">
                                <h3 class="t-acteur">Le gérant d'un drive fermier locavor</h3>
                                <p class="pt-4 p-acteur">Acteur engagé dans les circuits-courts et la consommation locale. Il gère toute l'animation de son drive fermier, sélectionne en amont des fournisseurs ayant des produits de qualité et situés à une distance taisonnabl.
                                    Il organise les ventes et les distributions des produits locaux aux membres de son locavor.
                                </p>

                            </div>
                        </div>
                    </div>

                </b-col>
            </b-row>
        </b-container>
        <app-footer />
    </main>
</template>

<style scoped src="./LocavorCestQuoi.css">

</style>

<script>
export default {
    
}
</script>