.img-new{
    max-width: 700px;
    max-height: auto;
    overflow: hidden;
    }
.img-new img{
    margin: -10px 0px 0px -180px;
}
.marge-new{
    margin-top: 75px;
    margin-left: 125px;
    margin-right: 125px;
}
.paragraph-new{
    margin-top: 75px;
}
.actu{
    margin-top: 60px;
    margin-left: 125px;
    margin-right: 125px;
}

.img-actu{
    max-width: 400px;
    max-height: 200px;
    overflow: hidden;
}
.img-actu img{
    margin: -10px 0px 0px -180px;
}
a{
    color: black;
}
.categories{
    margin-top: 60px;
    margin-left: 125px;
    margin-right: 125px;  
}
.categories button{
    margin-right: 10px;
}

.img-cat{
    max-width: 530px;
    max-height: 270px;
    overflow: hidden;
}
.img-cat img{
    margin: 0px 0px 0px 0px;
}