<template>
    <main>
        <navbar />

        <b-container fluid>
            <b-row v-if="news_top.length > 0" class="marge-new">
                <b-col md="12" lg="6">
                    <div class="img-new">
                        <a target="_blank" rel="noopener noreferrer" :href="news_top[0].link">
                            <img :src="news_top[0].img_path" :alt="news_top[0].alt">
                        </a>
                    </div>
                </b-col>
                <b-col md="12" lg="6" class="paragraph-new">
                    <p class="font-weight-light">{{news_top[0].date}}</p>
                    <a target="_blank" rel="noopener noreferrer" :href="news_top[0].link">
                        <h2>{{news_top[0].title}}</h2>
                    </a>
                    <p>{{news_top[0].description}}</p>
                </b-col>
            </b-row>
            <div class="actu">
                <h1>Actualités</h1>
                <b-row class="mt-3">
                    <template v-for="(actu,index) in news_top">
                        <b-col v-if="index != 0 && index < 5" cols="12" md="6" lg="3"  :key="index">
                            <div class="img-actu">
                                <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                    <img :src="actu.img_path" :alt="actu.alt">
                                </a>
                            </div>
                            <p class="font-weight-light">{{actu.date}}</p>
                            <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                <h5>{{actu.title}}</h5>
                            </a>
                            <p>{{actu.description}}</p>
                        </b-col>
                    </template>
                </b-row>
            </div>
            <div class="categories">
                <h1>Categories</h1>
                <b-row class="mt-3">
                    <b-col cols="12">
                        <b-navbar toggleable="lg">
                            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                                <b-collapse id="nav-collapse" is-nav>
                                    <b-navbar-nav>
                                        <b-button pill variant="outline-secondary" v-on:click="select_cat = 'All'; searchNews()" type="button">All</b-button>
                                        <b-button pill variant="outline-secondary" v-for="categorie in categories" :key="categorie.id" v-on:click="searchArticleCategories(categorie.id)" type="button">{{ categorie.name }}</b-button>
                                    </b-navbar-nav>
                                </b-collapse>
                        </b-navbar>
                    </b-col>   
                </b-row>
                <b-row v-if="select_cat === 'All'" class="mt-5">
                        <template v-for="(actu,index) in news">
                            <b-col v-if="index < 3" md="12" lg="4" :key="index">
                                <div class="img-cat">
                                    <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                        <img :src="actu.img_path" :alt="actu.alt">
                                    </a>
                                </div>
                                <p class="font-weight-light">{{actu.date}}</p>
                                <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                    <h5>{{actu.title}}</h5>
                                </a>
                                <p>{{actu.description}}</p>
                            </b-col>
                        </template>
                        <template v-for="(actu,index) in news">
                            <b-col v-if="index > 2" cols="12" md="6" lg="3" class="mt-5" :key="index">
                                <div class="img-cat">
                                    <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                        <img :src="actu.img_path" :alt="actu.alt">
                                    </a>
                                </div>
                                <p class="font-weight-light">{{actu.date}}</p>
                                <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                    <h5>{{actu.title}}</h5>
                                </a>
                                <p>{{actu.description}}</p>
                            </b-col>
                        </template>
                </b-row>   
                <b-row v-else class="mt-3">
                    <template v-for="(actu,index) in articleCategories">
                        <b-col v-if="index < 3" md="12" lg="4" :key="index">
                            <div class="img-cat">
                                <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                    <img :src="actu.img_path" :alt="actu.alt">
                                </a>
                            </div>
                            <p class="font-weight-light">{{actu.date}}</p>
                            <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                <h5>{{actu.title}}</h5>
                            </a>
                            <p>{{actu.description}}</p>
                        </b-col>
                    </template>
                    <template v-for="(actu,index) in articleCategories">
                        <b-col v-if="index > 2" cols="12" md="6" lg="3" class="mt-5" :key="index">
                            <div class="img-cat">
                                <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                    <img :src="actu.img_path" :alt="actu.alt">
                                </a>
                            </div>
                            <p class="font-weight-light">{{actu.date}}</p>
                            <a target="_blank" rel="noopener noreferrer" :href="actu.link">
                                <h5>{{actu.title}}</h5>
                            </a>
                            <p>{{actu.description}}</p>
                        </b-col>
                    </template>  
                </b-row>
                <b-row>
                    <b-col cols="4" >
                        <b-pagination
                            v-model="currentPage"
                            :total-rows="totalRows"
                            :per-page="perPage"
                            align="fill"
                            size="sm"
                            class="my-0"
                        ></b-pagination>
                    </b-col>
                </b-row>
            </div>
        </b-container>
        <app-footer />
    </main>
</template>

<style scoped src="./News.css">
</style>

<script>
export default {
    data() {
        return {
            isBusy: true,
            categories: [],
            articleCategories: [], 
            select_cat: 'All',
            actu_select: [],
            news_top: [],
            news: [],
            currentPage: 1,
            totalRows: null,
            perPage: 11,
        }
    },
    watch: {
        currentPage(value) {
            this.searchNews()
        },
        perPage(value) {
            this.searchNews()
        }
    },
    methods: {
        saveAllActuSelect: function(cat){
            var actu_select_id = [];
            this.actu_select = [];
            this.select_cat = cat;
            this.articleCategories.forEach(item=>{
                if (item.categorie_id === cat){
                    actu_select_id.push(item.article_id);
                    console.log(item.article_id)
                };
            });
            this.news.forEach(item =>{
                if (actu_select_id.includes(item.id)){
                    this.actu_select.push(item);
                };
            });
        },
        searchNews() {
            this.isBusy = true
            axios
                .get("/api/articles/search", { params: { page: this.currentPage, per_page: this.perPage }})
                .then(response => {
                    if(this.currentPage == 1){
                        this.news_top = response.data.data;
                    }
                    this.news = response.data.data
                    this.totalRows = response.data.total
                    this.isBusy = false
                })
                .catch(error => console.error(error))
        },
        searchCategories() {
            var catego = [];
            axios
                .get("/api/article_categories")
                .then(response => {
                    this.categories = response.data
                })
                .catch(error => console.error(error));
        },
        searchArticleCategories(categorie_id) {
            this.isBusy = true
            this.select_cat = categorie_id;
            axios
                .get("/api/categorie/"+categorie_id+"/article/")
                .then(response => {
                    this.articleCategories = response.data.data
                    this.totalRows = response.data.total
                    this.isBusy = false
                })
                .catch(error => console.error(error));
        }
    },
    mounted() {
        this.searchCategories()
        this.searchNews()
    }

}

</script>