<template>
  <main>
    <navbar />

    <b-container class="profileBlock" v-if="user">
      <b-row align-h="end" v-if="$root.isSelf(user)">
        <b-col cols="12" md="auto">
          <b-button size="sm" variant="secondary" v-b-modal.editProfileMod
            >Éditer mon profil</b-button
          >
        </b-col>
        <b-col cols="12" md="auto">
          <b-button size="sm" variant="danger" v-b-modal.deleteProfileMod
            >Supprimer mon profil</b-button
          >
        </b-col>
      </b-row>
      <b-row align-h="center" align-v="center">
        <b-col cols="12" md="auto" class="userName">{{ user.userName }}</b-col>
        <b-col cols="12" md="auto">
          <b-badge :variant="typeColor">{{ user.type }}</b-badge>
        </b-col>
      </b-row>
      <b-row align-h="center">
        <!-- <b-col cols="12" md="auto" class="userCreatedAt">{{ userCreatedAT }}</b-col> -->
        <b-col cols="12" md="auto" class="userCreatedAt">{{ user.created_at }}</b-col>
      </b-row>

      <b-row align-h="around" class="userEditableProperties">
        <b-col cols="12" md="auto">
          <b-row>
            <b-col>Nom : {{ user.lastname ? user.lastname : "inconnu" }}</b-col>
          </b-row>
          <b-row>
            <b-col>Prénom : {{ user.firstname ? user.firstname : "inconnu" }}</b-col>
          </b-row>
          <b-row>
            <!-- <b-col
              >Date de naissance :
              {{
                user.birthDate
                  ? (user.birthDate | luxon({ output: "date_huge" }))
                  : "inconnu"
              }}
            </b-col> -->
            <b-col
              >Date de naissance :
              {{ user.birthDate ? user.birthDate : "inconnu" }}
            </b-col>
          </b-row>
        </b-col>

        <b-col cols="12" md="auto">
          <b-row>
            <b-col>Email : {{ user.email }}</b-col>
          </b-row>
          <b-row>
            <b-col>Adresse : {{ user.address ? user.address : "inconnu" }}</b-col>
          </b-row>
          <b-row v-if="$root.isSelf(user)">
            <b-col
              >Password :
              <b-button size="sm" variant="outline-danger" v-b-modal.updatePwdMod
                >Nouveau mot de passe</b-button
              ></b-col
            >
          </b-row>
        </b-col>
      </b-row>
    </b-container>

    <editProfile-mod :user="user"></editProfile-mod>
    <deleteProfile-mod :user="user"></deleteProfile-mod>
    <updatePwd-mod :user="user"></updatePwd-mod>

    <app-footer />
  </main>
</template>

<script>
export default {
  created: function () {
    this.getUser();
    /* this.computeUserDatas(); */
  },
  data() {
    const { DateTime } = require("luxon");
    return {
      /* now: this.$luxon(DateTime.local().toString(), {
        output: "date_huge",
      }), */
      user: null,
      userCreatedAT: null,
      typeColor: null,
    };
  },
  mounted() {},
  methods: {
    getUser() {
      axios
        .get("/api/users/" + this.$route.params.id)

        .then((response) => {
          this.user = response.data;
          this.setTypeColor();
        })
        .catch();
    },
    setTypeColor() {
      switch (this.user.type) {
        case "user":
          this.typeColor = "info";
          break;
        case "professional":
          this.typeColor = "success";
          break;
        case "expert":
          this.typeColor = "warning";
          break;
        case "adminer":
          this.typeColor = "danger";
          break;
        default:
          this.typeColor = "secondary";
      }
    },
    computeUserDatas() {
      this.userCreatedAT =
        "Actif depuis " +
        this.$luxon(this.user.created_at, {
          output: "date_huge",
        });
    },
  },
};
</script>
<style>
.userEditableProperties .row {
  margin-bottom: 10px;
}
.profileBlock {
  border-style: solid;
  border-color: #f8f9fa;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
.userEditableProperties {
  margin: 50px;
}
.userName {
  font-weight: bold;
  font-size: 30px;
}
.userCreatedAt {
  font-weight: bold;
  color: #7c7c7d;
}
</style>
