<template>
  <b-modal
    v-model="show"
    hide-footer
    id="editProfileMod"
    :no-close-on-backdrop="noClose"
    :hide-header="noClose"
    @show="resetModal"
    @hidden="resetModal"
    title="Modifier mes informations personnelles"
  >
    <b-form @submit="onSubmit" @reset="onReset" v-if="user && editprofile">
      <b-form-group
        id="input-group-userName"
        label="Nom d'utilisateur :"
        label-for="input-userName"
      >
        <b-form-input
          id="input-userName"
          v-model="user.userName"
          :placeholder="user.userName"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-email"
        label="Email :"
        label-for="input-email"
        description="Nous ne partagerons jamais votre e-mail."
      >
        <b-form-input
          id="input-email"
          v-model="user.email"
          type="email"
          :placeholder="user.email"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-lastname"
        label="Nom :"
        label-for="input-lastname"
      >
        <b-form-input
          id="input-lastname"
          v-model="user.lastname"
          :placeholder="user.lastname"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-firstname"
        label="Prénom :"
        label-for="input-firstname"
      >
        <b-form-input
          id="input-firstname"
          v-model="user.firstname"
          :placeholder="user.firstname"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-birthDate"
        label="Date de naissance :"
        label-for="input-birthDate"
      >
        <b-form-input
          id="input-birthDate"
          type="date"
          v-model="user.birthDate"
          :placeholder="user.birthDate"
          :min="birthDateMin"
          :max="birthDateMax"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-street" label="Adresse :" label-for="input-adress">
        <b-form-input
          id="input-adress"
          v-model="user.address"
          :placeholder="user.address"
          @keyup="findAddress"
          autocomplete="off"
        ></b-form-input>
        <b-card no-body v-if="addressList && showAddressList">
          <b-list-group flush>
            <b-list-group-item
              class="address"
              button
              v-on:click="selectAddress(address)"
              v-for="address in addressList"
              :key="address.properties.id"
              >{{ address.properties.label }}</b-list-group-item
            >
          </b-list-group>
        </b-card>
      </b-form-group>

      <b-row align-h="end">
        <b-col cols="12" md="auto">
          <b-button type="submit" variant="primary">Valider</b-button>
        </b-col>
      </b-row>
    </b-form>

    <b-container fluid v-if="editionInProgress">
      <b-row class="justify-content-md-center">
        <b-col cols="12" md="auto" style="padding-bottom: 10px"
          >Mise à jour du profil...</b-col
        >
      </b-row>
      <b-row class="justify-content-md-center">
        <b-spinner variant="success" label="Spinning"></b-spinner>
      </b-row>
    </b-container>
  </b-modal>
</template>

<script>
export default {
  props: {
    user: Object,
  },
  data() {
    const { DateTime } = require("luxon");
    return {
      showAddressList: false,
      addressList: null,
      birthDateMin: DateTime.local().minus({ years: 120 }).toISODate(),
      birthDateMax: DateTime.local().toISODate(),
      show: false,
      noClose: false,
      editprofile: true,
      editionInProgress: false,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.updateProfile();
    },
    onReset(evt) {
      evt.preventDefault();
      this.resetModal();
    },
    resetModal() {
      // Reset our form values
      this.noClose = false;
      this.showAddressList = false;
      this.editionInProgress = false;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.editprofile = false;
      this.$nextTick(() => {
        this.editprofile = true;
      });
    },
    updateProfile() {
      this.editprofile = false;
      this.noClose = true;
      this.editionInProgress = true;
      axios
        .put("/api/users/" + this.user.id, {
          id: this.user.id,
          firstname: this.user.firstname,
          lastname: this.user.lastname,
          email: this.user.email,
          address: this.user.address,
          birthDate: this.user.birthDate,
          userName: this.user.userName,
        })
        .then((response) => {
          this.show = false;
        })
        .catch((error) => {
          this.editprofile = true;
          this.noClose = false;
          this.editionInProgress = false;
        });
    },
    selectAddress(address) {
      this.user.address = address.properties.label;
      /* const coordinates = [
        address.geometry.coordinates[1],
        address.geometry.coordinates[0],
      ]; */
      /* this.form.coordinates = JSON.stringify(coordinates); */
      /* this.form.coordinates = coordinates; */
      this.showAddressList = false;
    },
    async findAddress() {
      this.showAddressList = true;
      if (this.user.address) {
        const uri =
          "https://api-adresse.data.gouv.fr/search/?q=" +
          this.user.address +
          "&type=housenumber&autocomplete=0";
        const encoded = encodeURI(uri);
        const response = await fetch(encoded);
        const jsonResponse = await response.json();
        this.addressList = jsonResponse.features;
      } else {
        this.addressList = null;
      }
    },
  },
};
</script>
<style>
.address:hover {
  background-color: #007bff;
  color: #ffffff;
}
</style>
