<template>
    <footer class="mt-auto mb-5">
        <b-container class="d-flex justify-content-center">
            <b-link class="mx-3">
                <font-awesome-icon :icon="['fab', 'facebook']" :style="{ color: '#1877f2' }" />
            </b-link>
            <b-link class="mx-3">
                <font-awesome-icon :icon="['fab', 'instagram']" :style="{ color: 'black' }" />
            </b-link>
            <b-link class="mx-3">
                <font-awesome-icon :icon="['fab', 'twitter']" :style="{ color: '#1da1f2' }" />
            </b-link>
            <b-link class="mx-3">
                <font-awesome-icon :icon="['fab', 'youtube']" :style="{ color: 'red' }" />
            </b-link>
        </b-container>
    </footer>
</template>

<style>
    html, body, #app, main {
        height: 100% !important;
    }

    main {
        flex-direction: column !important;
        display: flex !important;
    }

    main .container-fluid, main .container {
        flex-shrink: 0 !important;
    }

    footer {    
        border: 1px solid #dbdbdb;
        font-size: 50px;
    }
</style>