<template>
<b-navbar toggleable="lg" type="light" variant="light" class="fixed-top" sticky>
  <b-navbar-brand :to="{ name: 'home' }">
    <img src='/pictures/logo.png' alt="profile Pic" height="50" width="50">
  </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'locavor-c-est-quoi' }">
          Locavor C'est Quoi?
        </b-nav-item>
        <b-nav-item :to="{ name: 'producteurs-toulousain' }">
          Producteurs Toulousain
        </b-nav-item>
        <b-nav-item :to="{ name: 'epiceries-locales' }">
          Epiceries Locales
        </b-nav-item>
        <b-nav-item :to="{ name: 'news' }">News</b-nav-item>
        <b-nav-item-dropdown text="Administration" v-if="$root.isAdministrator()">
          <b-dropdown-item :to="{ name: 'administration_users' }">
            Utilisateurs
          </b-dropdown-item>
          <b-dropdown-item :to="{ name: 'administration_articles' }">
            Articles
          </b-dropdown-item>
          <b-dropdown-item :to="{ name: 'administration_enterprises' }">
            Entreprises
          </b-dropdown-item>
          <b-dropdown-item :to="{ name: 'administration_product_categories' }">
            Catégories de produit
          </b-dropdown-item>
          <b-dropdown-item :to="{ name: 'administration_products' }">
            Produits
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item :to="{ name: 'a-propos' }">À propos</b-nav-item>
        <b-nav-item-dropdown v-if="$root.isAuthenticated()" right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <b-img
              rounded="circle"
              fluid
              :src="'/storage/avatars/' + $root.authUser.id"
              width="30"
              height="30"
              class="mr-2"
            ></b-img>
            <em>{{ $root.authUser.userName }}</em>
          </template>
          <b-dropdown-item :to="{ name: 'user-profile', params: { id: $root.authUser.id } }">Profile</b-dropdown-item>
          <b-dropdown-item :to="{ name: 'producteur', params: { id: getMyEnterpriseId() } }" v-if="getMyEnterpriseId()">
            Mon entreprise
          </b-dropdown-item>
          <b-dropdown-item @click.prevent="logout" href="#">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item v-if="!$root.isAuthenticated()" v-b-modal.registerMod>S'enregister</b-nav-item>
        <b-nav-item v-if="!$root.isAuthenticated()" v-b-modal.signinMod>Se connecter</b-nav-item>
      </b-navbar-nav>
      <register-mod></register-mod>
      <signin-mod></signin-mod>
    </b-collapse>
  </b-navbar>
</template>
<script>
export default {
  data() {
    return {
      user_enterprises: []
    }
  },
  mounted() {
    if(this.$root.isAuthenticated())
      axios
        .get("/api/user/enterprises")
        .then(response => this.user_enterprises = response.data)
  },
  methods: {
    logout() {
      axios
        .post("/api/logout")
        .then((response) => {
          localStorage.removeItem("token");
          this.$root.authUser = null;
        })
        .catch((error) => {
          const errorResponse = error.response.data.errors;
        })
    },
    getMyEnterpriseId() {
      if(!this.user_enterprises || this.user_enterprises.length == 0)
        return null

      return this.user_enterprises[0].id
    }
  }
}
</script>
<style>
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  color: #7d7d7d;
}

.navbar-nav .nav-link {
  color: #657480;
}

.navbar-nav .nav-item .nav-link {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}

.navbar-nav .nav-item {
  border-right: 3px solid #eaeaea;
}

.navbar-nav .nav-item:last-child {
  border-right: none;
}

.navbar-nav .nav-link.active {
  color: #ee8e0d !important;
}
</style>
