<template>
  <b-modal
    v-model="show"
    size="lg"
    hide-footer
    id="registerMod"
    title="Créer votre compte"
    @show="resetModal"
    @hidden="resetModal"
    :no-close-on-backdrop="noClose"
    :hide-header="noClose"
  >
    <b-form @submit="onSubmit" @reset="onReset" v-if="enterRegistration">
      <b-container fluid>
        <b-row>
          <b-col>
            <b-form-group
              id="input-group-lastname"
              label="Nom :"
              label-for="input-lastname"
            >
              <b-form-input
                id="input-lastname"
                v-model="form.lastname"
                placeholder="Entrez votre nom"
                :state="lastnameOk"
              ></b-form-input>
              <b-form-invalid-feedback :state="lastnameOk" v-if="!lastnameOk">
                Nom invalide.
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="input-group-firstname"
              label="Prénom :"
              label-for="input-firstname"
            >
              <b-form-input
                id="input-firstname"
                v-model="form.firstname"
                placeholder="Entrez votre prénom"
                :state="firstnameOk"
              ></b-form-input>
              <b-form-invalid-feedback :state="firstnameOk" v-if="!firstnameOk">
                Prénom invalide.
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="input-group-birthDate"
              label="Date de naissance :"
              label-for="input-birthDate"
            >
              <b-form-input
                id="input-birthDate"
                type="date"
                v-model="form.birthDate"
                :state="birthDateOk"
                placeholder="Entrez votre date de naissance"
                :min="birthDateMin"
                :max="birthDateMax"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-street"
              label="Adresse :"
              label-for="input-adress"
              description="Nous ne partagerons jamais votre adresse."
            >
              <b-form-input
                id="input-adress"
                v-model="form.address"
                :state="null"
                placeholder="Entrez votre adresse"
                @keyup="findAddress"
                autocomplete="off"
              ></b-form-input>
              <b-card no-body v-if="addressList && showAddressList">
                <b-list-group flush>
                  <b-list-group-item
                    class="address"
                    button
                    v-on:click="selectAddress(address)"
                    v-for="address in addressList"
                    :key="address.properties.id"
                    >{{ address.properties.label }}</b-list-group-item
                  >
                </b-list-group>
              </b-card>
            </b-form-group>

            <b-form-group label="Vous êtes ?">
              <b-form-radio-group
                id="btn-radios-2"
                v-model="form.userType"
                :options="userTypeOptions"
                button-variant="outline-primary"
                buttons
              ></b-form-radio-group>
            </b-form-group>
          </b-col>

          <b-col>
            <b-form-group
              id="input-group-email"
              label="Email (obligatoire) :"
              label-for="input-email"
              description="Nous ne partagerons jamais votre e-mail."
            >
              <b-form-input
                id="input-email"
                v-model="form.email"
                type="email"
                :state="emailAlreadyTaken === null ? emailOk : !emailAlreadyTaken"
                required
                placeholder="Entrez votre email"
              ></b-form-input>
              <b-form-invalid-feedback
                :state="emailOk"
                v-if="!emailOk && emailAlreadyTaken === null"
              >
                Email invalide.
              </b-form-invalid-feedback>
              <b-form-invalid-feedback
                :state="!emailAlreadyTaken"
                v-if="emailAlreadyTaken"
              >
                Email déjà pris.
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="input-group-userName"
              label="Nom d'utilisateur (obligatoire) :"
              label-for="input-userName"
            >
              <b-form-input
                id="input-userName"
                v-model="form.userName"
                required
                placeholder="Entrez votre nom d'utilisateur"
                :state="userAlreadyTaken === null ? userNameOk : !userAlreadyTaken"
              ></b-form-input>
              <b-form-invalid-feedback
                :state="userNameOk"
                v-if="!userNameOk && userAlreadyTaken === null"
              >
                Nom d'utilisateur invalide.
              </b-form-invalid-feedback>
              <b-form-invalid-feedback :state="!userAlreadyTaken" v-if="userAlreadyTaken">
                Nom d'utilisateur déjà pris.
              </b-form-invalid-feedback>
              <b-form-text id="password-help-block">
                Votre nom d'utilisateur doit contenir seulement des lettres et des
                chiffres.
              </b-form-text>
            </b-form-group>

            <b-form-group
              id="input-group-pwd"
              label="Mot de passe :"
              label-for="input-pwd"
            >
              <b-form-input
                v-model="form.password"
                type="password"
                id="input-pwd"
                required
                aria-describedby="password-help-block"
                :state="pwdOk"
              ></b-form-input>
              <b-form-text id="password-help-block">
                Votre mot de passe doit comporter entre 8 et 20 caractères, contenir au
                moins un chiffre, une majuscule et une minuscule.
              </b-form-text>
            </b-form-group>

            <b-form-group
              id="input-group-pwd2"
              label="Merci de confirmer votre mot de passe :"
              label-for="input-pwd2"
            >
              <b-form-input
                v-model="form.password_confirmation"
                type="password"
                id="input-pwd2"
                required
                :state="pwdOk2"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align-h="end">
          <b-col cols="12" md="auto">
            <b-button type="reset" variant="danger">Réinitialiser</b-button>
          </b-col>
          <b-col cols="12" md="auto">
            <b-button
              type="submit"
              variant="primary"
              :disabled="
                lastnameOk === false ||
                firstnameOk === false ||
                birthDateOk === false ||
                !emailOk ||
                !userNameOk ||
                !pwdOk ||
                !pwdOk2 ||
                emailAlreadyTaken ||
                userAlreadyTaken
              "
              >Valider</b-button
            >
          </b-col>
        </b-row>
      </b-container>
    </b-form>

    <b-container fluid v-if="registerInProgress">
      <b-row class="justify-content-md-center">
        <b-col cols="12" md="auto" style="padding-bottom: 10px"
          >Inscription en cours...</b-col
        >
      </b-row>
      <b-row class="justify-content-md-center">
        <b-spinner variant="success" label="Spinning"></b-spinner>
      </b-row>
    </b-container>
  </b-modal>
</template>

<script>
export default {
  data() {
    const { DateTime } = require("luxon");
    return {
      show: false,
      form: {
        lastname: "",
        firstname: "",
        birthDate: "",
        address: "",
        userType: "user",
        coordinates: "",
        email: "",
        userName: "",
        password: "",
        password_confirmation: "",
      },
      userTypeOptions: [
        { text: "Utilisateur", value: "user" },
        { text: "Producteur", value: "professional" },
      ],
      showAddressList: false,
      addressList: null,
      userFailed: {
        userName: null,
        email: null,
      },
      noClose: false,
      enterRegistration: true,
      registerInProgress: false,
      emailAlreadyTaken: null,
      userAlreadyTaken: null,
      birthDateMin: DateTime.local().minus({ years: 120 }).toISODate(),
      birthDateMax: DateTime.local().toISODate(),
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.formatFirstAndLastName();
      this.saveForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.resetModal();
    },
    resetModal() {
      // Reset our form values
      this.form.lastname = "";
      this.form.firstname = "";
      this.form.birthDate = "";
      this.form.address = "";
      this.form.coordinates = "";
      this.form.email = "";
      this.form.userName = "";
      this.form.password = "";
      this.form.password_confirmation = "";
      this.emailAlreadyTaken = null;
      this.userAlreadyTaken = null;
      this.userFailed.userName = null;
      this.userFailed.email = null;
      this.registerInProgress = false;
      this.showAddressList = false;
      this.noClose = false;
      // Trick to reset/clear native browser form validation state
      this.enterRegistration = false;
      this.$nextTick(() => {
        this.enterRegistration = true;
      });
    },
    saveForm() {
      this.enterRegistration = false;
      this.noClose = true;
      this.registerInProgress = true;
      axios
        .post("/api/register", this.form)
        .then((response) => {
          this.show = false;
        })
        .catch((error) => {
          const errorResponse = error.response.data.errors;
          this.emailExists(errorResponse);
          this.userNameExists(errorResponse);
          this.registerInProgress = false;
          this.noClose = false;
          this.enterRegistration = true;
        });
    },
    emailExists(errorResponse) {
      if (errorResponse.hasOwnProperty("email")) {
        this.userFailed.email = this.form.email;
        this.emailAlreadyTaken = true;
      }
    },
    userNameExists(errorResponse) {
      if (errorResponse.hasOwnProperty("userName")) {
        this.userFailed.userName = this.form.userName;
        this.userAlreadyTaken = true;
      }
    },
    formatFirstAndLastName() {
      this.form.lastname = this.removeWhitespaces(this.form.lastname);
      this.form.firstname = this.removeWhitespaces(this.form.firstname);
    },
    removeWhitespaces(string) {
      var gooStr = string.replace(/\s\s+/g, " ");
      gooStr = gooStr.trim();
      return gooStr;
    },
    selectAddress(address) {
      console.log(address);
      this.form.address = address.properties.label;
      const coordinates = [
        address.geometry.coordinates[1],
        address.geometry.coordinates[0],
      ];
      /* this.form.coordinates = JSON.stringify(coordinates); */
      this.form.coordinates = coordinates;
      this.showAddressList = false;
    },
    async findAddress() {
      this.showAddressList = true;
      if (this.form.address) {
        const uri =
          "https://api-adresse.data.gouv.fr/search/?q=" +
          this.form.address +
          "&type=housenumber&autocomplete=0";
        const encoded = encodeURI(uri);
        const response = await fetch(encoded);
        const jsonResponse = await response.json();
        this.addressList = jsonResponse.features;
      } else {
        this.addressList = null;
      }
    },
  },
  computed: {
    birthDateOk() {
      if (this.form.birthDate === "") {
        return null;
      }
      var goodBirthDate =
        this.form.birthDate >= this.birthDateMin &&
        this.form.birthDate <= this.birthDateMax;
      if (goodBirthDate) {
        return true;
      }
      return false;
    },
    firstnameOk() {
      if (this.form.firstname === "") {
        return null;
      }
      if (
        /^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u.test(
          this.form.firstname
        ) &&
        this.form.firstname.length < 256
      ) {
        return true;
      }
      return false;
    },
    lastnameOk() {
      if (this.form.lastname === "") {
        return null;
      }
      if (
        /^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u.test(
          this.form.lastname
        ) &&
        this.form.lastname.length < 256
      ) {
        return true;
      }
      return false;
    },
    emailOk() {
      this.emailAlreadyTaken = null;
      var emailAlreadyTested =
        this.userFailed.email && this.form.email === this.userFailed.email;
      if (this.form.email === "") {
        return null;
      }
      if (emailAlreadyTested) {
        this.emailAlreadyTaken = true;
        return false;
      }
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
          this.form.email
        ) &&
        this.form.email.length < 256
      ) {
        return true;
      }
      return false;
    },
    userNameOk() {
      this.userAlreadyTaken = null;
      if (this.form.userName === "") {
        return null;
      }
      var userAlreadyExists =
        this.userFailed.userName && this.form.userName === this.userFailed.userName;
      var letters = /^[0-9a-zA-Z]+$/;
      if (userAlreadyExists) {
        this.userAlreadyTaken = true;
        return false;
      }
      if (this.form.userName.match(letters) && this.form.userName.length < 256) {
        return true;
      } else {
        return false;
      }
    },
    pwdOk() {
      if (this.form.password === "") {
        return null;
      }
      var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
      if (this.form.password.match(passw)) {
        return true;
      } else {
        return false;
      }
    },
    pwdOk2() {
      if (this.form.password_confirmation === "") {
        return null;
      }
      var samePwd = this.form.password === this.form.password_confirmation;
      var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
      if (this.form.password_confirmation.match(passw) && samePwd) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>
<style>
.address:hover {
  background-color: #007bff;
  color: #ffffff;
}
</style>
