<template>
  <b-modal
    v-model="show"
    hide-footer
    id="signinMod"
    title="Se connecter"
    @show="resetModal"
    @hidden="resetModal"
    :no-close-on-backdrop="noClose"
    :hide-header="noClose"
  >
    <b-form @submit="onSubmit" @reset="onReset" v-if="enterCredentials">
      <b-form-group
        id="input-group-user"
        label="Nom d'utilisateur ou Email :"
        label-for="input-user"
      >
        <b-form-input
          id="input-user"
          v-model="form.login"
          required
          placeholder="Entrez votre nom d'utilisateur ou email"
        ></b-form-input>
        <b-form-invalid-feedback> Utilisateur inconnu. </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
        id="input-group-pwd"
        required
        label="Mot de passe :"
        label-for="input-pwd"
      >
        <b-form-input
          type="password"
          id="input-pwd"
          v-model="form.password"
          placeholder="Entrez votre mot de passe"
        ></b-form-input>
        <b-form-invalid-feedback> Mot de passe invalide. </b-form-invalid-feedback>
      </b-form-group>

      <b-row align-h="end">
        <b-col cols="12" md="auto">
          <b-button type="reset" variant="danger">Réinitialiser</b-button>
        </b-col>
        <b-col cols="12" md="auto">
          <b-button
            :disabled="form.login.length < 1 || form.password.length < 1"
            type="submit"
            variant="primary"
            >Valider</b-button
          >
        </b-col>
      </b-row>
    </b-form>

    <b-container fluid v-if="loginInProgress">
      <b-row class="justify-content-md-center">
        <b-col cols="12" md="auto" style="padding-bottom: 10px"
          >Connexion en cours...</b-col
        >
      </b-row>
      <b-row class="justify-content-md-center">
        <b-spinner variant="success" label="Spinning"></b-spinner>
      </b-row>
    </b-container>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      form: {
        login: "",
        password: "",
        device_name: "browser", // NOT MANDATORY BUT IN LARAVEL DOC
      },
      noClose: false,
      enterCredentials: true,
      loginInProgress: false,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.loginUser();
    },
    onReset(evt) {
      evt.preventDefault();
      this.resetModal();
    },
    resetModal() {
      this.form.login = "";
      this.form.password = "";
      /* this.form.device_name = ""; */
      this.loginInProgress = false;
      this.noClose = false;
      // Trick to reset/clear native browser form validation state
      this.enterCredentials = false;
      this.$nextTick(() => {
        this.enterCredentials = true;
      });
    },
    loginUser() {
      this.enterCredentials = false;
      this.noClose = true;
      this.loginInProgress = true;
      axios
        .post("/api/login", this.form)
        .then((response) => {
          this.$root.authUser = response.data;
          this.loginInProgress = false;
          this.noClose = false;
          this.show = false;
        })
        .catch((error) => {
          const errorResponse = error.response.data.errors;
          this.loginInProgress = false;
          this.noClose = false;
          this.enterCredentials = true;
        });
    },
  },
};
</script>
