<template>
    <main>
        <navbar />
        <b-modal
            id="new-article"
            ref="modal"
            title="Nouvel article"
            size="xl"
            @show="resetNewArticleModal"
            @ok="handleNewArticleOk">
            <form ref="form" @submit.stop.prevent="handleNewArticleSubmit">
                <b-form-group
                    :state="titleState"
                    label="Titre"
                    label-for="title-input"
                    invalid-feedback="Titre is required"
                    >
                    <b-form-input
                        id="title-input"
                        v-model="article.title"
                        :state="titleState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="img_pathState"
                    label="URL Image"
                    label-for="img_path-input"
                    invalid-feedback="URL Image is required"
                    >
                    <b-form-input
                        id="img_path-input"
                        v-model="article.img_path"
                        :state="img_pathState"
                        required
                    ></b-form-input>
                </b-form-group>
                
                <b-form-group
                    :state="dateState"
                    label="Date"
                    label-for="date-input"
                    invalid-feedback="Date is required"
                    >
                    <b-form-datepicker 
                        id="example-datepicker" 
                        v-model="article.date" 
                        class="mb-2">
                    </b-form-datepicker>
                </b-form-group>

                <b-form-group
                    :state="descriptionState"
                    label="Description"
                    label-for="desription-input"
                    invalid-feedback="Description is required"
                    >
                    <b-form-textarea
                        id="description-textarea"
                        v-model="article.description"
                        :state="descriptionState"
                        required
                    ></b-form-textarea>
                </b-form-group>

                <b-form-group
                    :state="linkState"
                    label="URL Article"
                    label-for="link-input"
                    invalid-feedback="URL Article is required"
                    >
                    <b-form-input
                        id="link-input"
                        v-model="article.link"
                        :state="linkState"
                        required
                    ></b-form-input>
                </b-form-group>
                <label class="typo__label">Categorie(s)</label>
                    <multiselect v-model="value" :options="categories" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Choisir catégorie" label="name" track-by="name"> 
                    <template slot="selection" slot-scope="{ values, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
                    </multiselect>
            </form>
        </b-modal>

        <b-modal
            id="edit-article"
            ref="modal"
            title="Edition de l'article"
            size="xl"
            @show="resetEditArticleModal"
            @ok="handleEditArticleOk">
            <form ref="form" @submit.stop.prevent="handleEditArticleSubmit">
                <b-form-group
                    :state="titleState"
                    label="Titre"
                    label-for="title-input"
                    invalid-feedback="Titre is required"
                    >
                    <b-form-input
                        id="title-input"
                        v-model="article.title"
                        :state="titleState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="img_pathState"
                    label="URL Image"
                    label-for="img_path-input"
                    invalid-feedback="URL Image is required"
                    >
                    <b-form-input
                        id="img_path-input"
                        v-model="article.img_path"
                        :state="img_pathState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="dateState"
                    label="Date"
                    label-for="date-input"
                    invalid-feedback="Date is required"
                    >
                    <b-form-datepicker 
                        id="example-datepicker" 
                        v-model="article.date" 
                        class="mb-2">
                    </b-form-datepicker>
                </b-form-group>

                <b-form-group
                    :state="descriptionState"
                    label="Description"
                    label-for="desription-input"
                    invalid-feedback="Description is required"
                    >
                    <b-form-textarea
                        id="description-textarea"
                        v-model="article.description"
                        :state="descriptionState"
                        required
                    ></b-form-textarea>
                </b-form-group>

                <b-form-group
                    :state="linkState"
                    label="URL Article"
                    label-for="link-input"
                    invalid-feedback="URL Article is required"
                    >
                    <b-form-input
                        id="link-input"
                        v-model="article.link"
                        :state="linkState"
                        required
                    ></b-form-input>
                </b-form-group>
                <div>
                    <label class="typo__label">Categorie(s)</label>
                    <multiselect v-model="article.categories" :options="categories" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Choisir catégorie" label="name" track-by="name"> 
                    <template slot="selection" slot-scope="{ values, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
                    </multiselect>
                </div>
            </form>
        </b-modal>

        <b-modal
            id="delete-article"
            ref="modal"
            title="Supprimer l'article"
            okVariant="danger"
            @ok="handleDeleteArticleOk">
            <p class="text-danger">Voulez-vous vraiment supprimer cet article ?</p>
        </b-modal>

        <b-container fluid class="pb-5">
            <b-row>
                <b-col cols="12">
                    <div class="d-flex justify-content-between">
                        <h1>Articles</h1>
                        <div class="mt-2">
                            <b-button variant="success" @click="newArticle">Nouveau</b-button>
                        </div>
                    </div>

                    <b-table :fields="fields" :items="articles" :busy="isBusy">
                        <template v-slot:cell(categorie)="row">
                            <template v-for="(categorie,index) in row.item.categories">
                                <div :key="index">
                                    {{categorie.name}}
                                </div>
                            </template>
                        </template>
                        <template v-slot:cell(actions)="row">
                            <b-button-group size="sm">
                                <b-button @click="editArticle(row.item.id)">
                                    <b-icon icon="pencil"></b-icon>
                                </b-button>

                                <b-button variant="danger" @click="deleteArticle(row.item.id)">
                                    <b-icon icon="trash"></b-icon>
                                </b-button>
                            </b-button-group>
                        </template>
                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Chargement...</strong>
                            </div>
                        </template>
                    </b-table>

                    <b-row>
                        <b-col cols="4">
                            <b-pagination
                                v-model="currentPage"
                                :total-rows="totalRows"
                                :per-page="perPage"
                                align="fill"
                                size="sm"
                                class="my-0"
                                ></b-pagination>
                        </b-col>
                        <b-col cols="4" offset="4">
                            <b-form-group
                                label="Resultats par page"
                                label-cols-sm="6"
                                label-cols-md="4"
                                label-cols-lg="3"
                                label-align-sm="right"
                                label-size="sm"
                                label-for="perPageSelect"
                                class="mb-0"
                                >
                                <b-form-select
                                    v-model="perPage"
                                    id="perPageSelect"
                                    size="sm"
                                    :options="pageOptions"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>

<script>
import Multiselect from 'vue-multiselect'
Vue.component('multiselect', Multiselect)
export default {
    components: { Multiselect },
    data() {
        return {
            isBusy: true,
            currentPage: 1,
            totalRows: null,
            perPage: 15,
            pageOptions: [15, 50, 100],
            fields: [
                {
                    key: "title",
                    label: "Titre",
                },
                {
                    key: "date",
                    label: "Date",
                },
                {
                    key: "description",
                    label: "Description",
                },
                {
                    key: "categorie",
                    label: "Categories",
                },
                {
                    key: "actions",
                    label: "Actions"
                }
            ],
            articles: [],
            categories: [],
            value: [],
            articleCategories: [],
            article: {
                title: null,
                img_path: null,
                date : null,
                description: null,
                link: null,
                categorie: null,
            },
            titleState: null,
            img_pathState: null,
            dateState : null,
            descriptionState: null,
            linkState: null,
            categorieState: null,
        }
    },
    watch: {
        currentPage(value) {
            this.searchArticles()
        },
        perPage(value) {
            this.searchArticles()
        }
    },
    methods: {
        newArticle() {
            this.$bvModal.show("new-article")
        },
        resetNewArticleModal() {
            this.titleState = null
            this.img_pathState = null
            this.dateState = null
            this.descriptionState = null
            this.linkState= null
            this.categorieState= null
        },
        handleNewArticleOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleNewArticleSubmit()
        },
        handleNewArticleSubmit() {
            axios
                .post("/api/articles/", {
                    title: this.article.title,
                    img_path: this.article.img_path,
                    date : this.article.date,
                    description: this.article.description,
                    link: this.article.link,
                    alt: this.article.title,
                    categories: this.value,
                })
                .then(response => {
                    this.$bvModal.hide("new-article");
                })
                .catch(error => console.log(error))
        },
        editArticle(articleId) {
            this.article = this.articles.find(a => a.id == articleId)
            this.$bvModal.show("edit-article")
        },
        resetEditArticleModal() {
            this.titleState = null
            this.img_pathState = null
            this.dateState = null
            this.descriptionState = null
            this.linkState= null
            this.categorieState= null
        },
        handleEditArticleOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleEditArticleSubmit()
        },
        handleEditArticleSubmit() {            
            axios
                .put("/api/articles/" + this.article.id, {
                    id: this.article.id,
                    title: this.article.title,
                    img_path: this.article.img_path,
                    date : this.article.date,
                    description: this.article.description,
                    link: this.article.link,
                    categories: this.article.categories,
                })
                .then(response => {
                    this.$bvModal.hide("edit-article")
                })
                .catch(error => console.log(error))
        },
        deleteArticle(articleId) {
            this.article = this.articles.find(a => a.id == articleId)
            this.$bvModal.show("delete-article")
        },
        handleDeleteArticleOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            axios
                .delete("/api/articles/" + this.article.id)
                .then(response => {
                    this.articles = this.articles.filter(a => a.id != this.article.id)

                    this.$bvModal.hide("delete-article")
                })
                .catch(error => console.log(error))
        },
        searchArticles() {
            this.isBusy = true
            axios
                .get("/api/articles/search", { params: { page: this.currentPage, per_page: this.perPage }})
                .then(response => {
                    this.articles = response.data.data
                    this.totalRows = response.data.total
                    this.isBusy = false
                })
                .catch(error => console.error(error))
        },
        searchCategories() {
            axios
                .get("/api/article_categories")
                .then(response => {
                    this.categories = response.data
                })
                .catch(error => console.error(error));
        },
    },
    mounted() {
       this.searchArticles()
       this.searchCategories()
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>