<template>
    <main>
        <navbar />

        <b-modal
            id="new-product-category"
            ref="modal"
            title="Nouvel catégorie de produit"
            size="lg"
            @show="resetNewProductCategoryModal"
            @ok="handleNewProductCategoryOk">
            <form ref="form" @submit.stop.prevent="handleNewProductCategorySubmit">
                <b-form-group
                    :state="nameState"
                    label="Nom"
                    label-for="name-input"
                    invalid-feedback="Name is required">
                    <b-form-input
                        id="name-input"
                        v-model="product_category.name"
                        :state="nameState"
                        required>
                    </b-form-input>
                </b-form-group>

                <b-form-group
                    :state="iconState"
                    label="Icône"
                    label-for="icon-input"
                    invalid-feedback="Icon is required">
                    <b-input-group class="mt-3">
                        <template #prepend>
                            <b-input-group-text>
                                <font-awesome-icon :icon="['fas', product_category.icon]" />
                            </b-input-group-text>
                        </template>
                        <b-form-input
                            id="icon-input"
                            v-model="product_category.icon"
                            :state="iconState"
                            required>
                        </b-form-input>
                    </b-input-group>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal
            id="edit-product-category"
            ref="modal"
            title="Edition da la catégorie de produit"
            size="lg"
            @show="resetEditProductCategoryModal"
            @ok="handleEditProductCategoryOk">
            <form ref="form" @submit.stop.prevent="handleEditProductCategorySubmit">
                <b-form-group
                    :state="nameState"
                    label="Nom"
                    label-for="name-input"
                    invalid-feedback="Name is required">
                    <b-form-input
                        id="name-input"
                        v-model="product_category.name"
                        :state="nameState"
                        required>
                    </b-form-input>
                </b-form-group>

                <b-form-group
                    :state="iconState"
                    label="Icône"
                    label-for="icon-input"
                    invalid-feedback="Icon is required">
                    
                    <b-input-group class="mt-3">
                        <template #prepend>
                            <b-input-group-text>
                                <font-awesome-icon :icon="['fas', product_category.icon]" />
                            </b-input-group-text>
                        </template>
                        <b-form-input
                            id="icon-input"
                            v-model="product_category.icon"
                            :state="iconState"
                            required>
                        </b-form-input>
                    </b-input-group>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal
            id="delete-product-category"
            ref="modal"
            title="Supprimer la catégorie de product"
            okVariant="danger"
            @ok="handleDeleteProductCategoryOk">
            <p class="text-danger">Voulez-vous vraiment supprimer cette catégorie de produit ?</p>
        </b-modal>

        <b-container fluid class="pb-5">
            <b-row>
                <b-col cols="12">
                    <div class="d-flex justify-content-between">
                        <h1>Catégories de produit</h1>

                        <div class="mt-2">
                            <b-button variant="success" @click="newProductCategory">Nouveau</b-button>
                        </div>
                    </div>

                    <b-table :fields="fields" :items="product_categories" :busy="isBusy">
                        <template v-slot:cell(icon)="row">
                             <font-awesome-icon :icon="['fas', row.item.icon]" />
                        </template>
                        <template v-slot:cell(actions)="row">
                            <b-button-group size="sm">
                                <b-button @click="editProductCategory(row.item.id)">
                                    <b-icon icon="pencil"></b-icon>
                                </b-button>

                                <b-button variant="danger" @click="deleteProductCategory(row.item.id)">
                                    <b-icon icon="trash"></b-icon>
                                </b-button>
                            </b-button-group>
                        </template>
                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Chargement...</strong>
                            </div>
                        </template>
                    </b-table>

                    <b-row>
                        <b-col cols="4">
                            <b-pagination
                                v-model="currentPage"
                                :total-rows="totalRows"
                                :per-page="perPage"
                                align="fill"
                                size="sm"
                                class="my-0"
                                ></b-pagination>
                        </b-col>
                        <b-col cols="4" offset="4">
                            <b-form-group
                                label="Resultats par page"
                                label-cols-sm="6"
                                label-cols-md="4"
                                label-cols-lg="3"
                                label-align-sm="right"
                                label-size="sm"
                                label-for="perPageSelect"
                                class="mb-0"
                                >
                                <b-form-select
                                    v-model="perPage"
                                    id="perPageSelect"
                                    size="sm"
                                    :options="pageOptions"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>

        <app-footer />
    </main>
</template>

<script>
export default {
    data() {
        return {
            isBusy: true,
            currentPage: 1,
            totalRows: null,
            perPage: 15,
            pageOptions: [15, 50, 100],
            fields: [
                {
                    key: "name",
                    label: "Nom",
                },
                {
                    key: "icon",
                    label: "Icône"
                },
                {
                    key: "actions",
                    label: "Actions"
                }
            ],
            product_categories: [],
            product_category: {
                name: null
            },
            nameState: null,
            iconState: null
        }
    },
    watch: {
        currentPage(value) {
            this.searchProductCategories()
        },
        perPage(value) {
            this.searchProductCategories()
        }
    },
    methods: {
        newProductCategory() {
            this.$bvModal.show("new-product-category")
        },
        resetNewProductCategoryModal() {
            this.nameState = null
            this.iconState = null
        },
        handleNewProductCategoryOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleNewProductCategorySubmit()
        },
        handleNewProductCategorySubmit() {
            if (!this.checkFormValidity())
                return
            
            axios
                .post("/api/product/categories", {
                    name: this.product_category.name,
                    icon: this.product_category.icon
                })
                .then(response => {
                    this.$bvModal.hide("new-product-category")
                })
                .catch(error => console.log(error))
        },
        editProductCategory(id) {
            this.product_category = this.product_categories.find(pc => pc.id == id)
            this.$bvModal.show("edit-product-category")
        },
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity()
            this.nameState = valid
            this.iconState = valid

            return valid
        },
        resetEditProductCategoryModal() {
            this.nameState = null
            this.iconState = null
        },
        handleEditProductCategoryOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            this.handleEditProductCategorySubmit()
        },
        handleEditProductCategorySubmit() {
            if (!this.checkFormValidity())
                return
            
            axios
                .put("/api/product/categories/" + this.product_category.id, {
                    id: this.product_category.id,
                    name: this.product_category.name,
                    icon: this.product_category.icon
                })
                .then(response => {
                    this.$bvModal.hide("edit-product-category")
                })
                .catch(error => console.log(error))
        },
        deleteProductCategory(id) {
            this.product_category = this.product_categories.find(u => u.id == id)
            this.$bvModal.show("delete-product-category")
        },
        handleDeleteProductCategoryOk(bvModalEvt) {
            bvModalEvt.preventDefault()

            axios
                .delete("/api/product/categories/" + this.product_category.id)
                .then(response => {
                    this.product_categories = this.product_categories.filter(u => u.id != this.product_category.id)

                    this.$bvModal.hide("delete-product-category")
                })
                .catch(error => console.log(error))
        },
        searchProductCategories() {
            this.isBusy = true
            
            axios
                .get("/api/product/categories/search", { params: { page: this.currentPage, per_page: this.perPage }})
                .then(response => {
                    this.product_categories = response.data.data
                    this.totalRows = response.data.total
                    this.isBusy = false
                })
                .catch(error => console.error(error))
        }
    },
    mounted() {
       this.searchProductCategories()
    }
}
</script>